

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: #85FFBD;
  background-image: linear-gradient(90deg, #85FFBD 0%, #FFFB7D 100%);
  
}

h1, h2, h3, h4, h5, p, span, strike {
  
  /* font-family: 'Roboto';
  font-weight: bold */
  
 
  
}

h6, p {
  
  /* font-family: 'Roboto' */
  
}










/* Post Page */



.mapContainer {
  border: 1px solid;
  flex: 1;
}

.postMap {
  border-radius: 0 20px 20px 0;
  height: 100%;
  overflow: hidden
}

.contentContainer {
  border: 1px solid;
  flex: 1;
}
.subject {
  
  display: flex;
  border: 1px solid;
}
.profImgContainer {
  flex: 1;
  border: 1px solid;
  
}
.profImgWrapper {
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  
}
.profImg {
  width: auto;
  height: 130%;
  margin-left: auto;
  margin-right: auto
}

.mapContainer {
  padding: 0;
  border-radius: 0 5% 5% 0;
  overflow: hidden;
  
  
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.imgPost {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  border-radius: 5% 0 0 5%;

}

.colPad{
  padding: "0px 10px 0px 10px"
}

.contentBackground {
  background-color: #fffdf0;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  
  overflow:hidden;
}

.mapProfPage {
  height: 50%;
  width: 105%;
  border-radius: 0 0 10% 0;
  overflow: hidden;
}

.mapHomePage {
  height: 100%;
  width: 105%;
  border-radius: 0 0 10% 0;
  overflow: hidden;
}

.imgProfPage {
  /* z-index: 999; */
  height: 50%;
  border-radius: 0 5% 0 0;
  width: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.contentBackgroundProf {
  border-radius: 5% 0 0 5%;
  background-color: #fffdf0;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postContainer {
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Roboto';
  background-color: #343a40 !important;
  color: white
}

.collapse {
  background-color: rgb(173, 172, 172) !important;
}
.weatherDiv{
  min-height: 2rem;
  align-items: center;
  color: white;
}

.getDir {
  
  border-radius: 20px;
  overflow: hidden
}
.Roboto {
  font-family: 'Roboto';
  font-weight: bold;
}

@media all and (min-width: 480px) {
  .login {
    padding: 60px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }

  
}

.flippy {
  border-radius: 20px;
  background-color: #343a40 !important;
}

.formBox {
  margin: auto;
  border: 1px solid;
  display: block;
  max-width: 500px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
}

.createEdit {
  width: 100%;
}